.screen-three-flex-div{
    display: flex;
    justify-content: center;
}

.screen-three-width-div{
    width: 100%;
    padding-bottom: 70px;
}

.screen-three-main-div h3{
    text-align: center;
}

.screen-heading{
    border-bottom: 2px solid black;
    padding-bottom: 5px;
    width: 250px;
}
.screen-three-img{
    width: 100%;
    height: 450px;
}