.footer-flex-div{
    display: flex;
    justify-content: center;
    background-color: black;
    margin-left: 30px;
    margin-right: 30px;
}

.footer-width-{
    width: 100%;

}

.footer-main-div{
    padding: 30px;
    text-align: center;
}

.nav-bar-sub-div-two{
      margin-left: 300px;
      gap: 30px;
}

.footer-last-div{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 12px;
    padding-top: 40px;
}